@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --font-poppins: "Poppins", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-poppins);
}

.carousel-container {
  height: 50vh;
}

.carousel-container .carousel .slide img {
  height: 100%;
  object-fit: cover;
}

/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Prevent content shifting */
html, body {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer and Edge */
}

